body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: "Roboto";
}

/* header style */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0%;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    color: #e5e7eb;
    font-size: 18px;
    padding: 0%;
    margin: 0%;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.header, .content-1 {
    background-color: #1f2937;
    padding-left: 15%;
    padding-right: 15%;

}

/* Content 1 style */
.content-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 7%;
    padding-bottom: 11%;
    gap: 5%;
    flex-wrap: wrap;
    flex-direction: row;
}

.content-1 .text-section {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4px;
    max-width: 47%;
}

.content-1 h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0%;
}

.content-1 p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0%;
}

.content-1 .img-container {
    display: flex;
    justify-content: center;
    align-items: start;
}

.content-1 img {
    width: 400px;
    height: auto;
}

.content-1 button {
    margin: 2% 0%;
    background-color: #3882f6;
    border-color: #3882f6;
    border-radius: 8px;
    color: #e5e7eb;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    width: 35%;
    padding: 8px;
}

div .footer {
    flex: 1;
}

